/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* VARIABLES */
:root {
  --radius-size: 100px;

  --clr-cta-default: black;
  --clr-cta-default-bg: white;
  --clr-cta-default-border: #e8e8e8;

  --clr-cta-primario: white;
  --clr-cta-primario-bg: #0057ff;

  --clr-cta-secundario: #0057ff;
  --clr-cta-secundario-bg: #f5f8ff;
  --clr-cta-secundario-border: #dee8ff;

  --clr-seleccionado: white;
  --clr-seleccionado-bg: black;

  --fs-x-small: 0.6875rem;
  --fs-small: 0.875rem;
  --fs-body: 0.9375rem;
  --fs-large: 1.25rem;
  --fs-x-large: 1.5rem;
}

/* MI ESTILO */

.logo-behance {
  width: 82px;
}

.logo-adobe {
  width: 60px;
}

.btn {
  padding: 0.5em 1em;
  margin: 0.5rem 0;
  color: var(--clr-cta-default);
  background-color: var(--clr-cta-default-bg);
  border: 1px solid var(--clr-cta-default-border);
  border-radius: var(--radius-size);
  font-size: var(--fs-small);
  font-weight: bold;
}

.btn--primario {
  color: white;
  background-color: var(--clr-cta-primario-bg);
}

.btn--secundario {
  color: var(--clr-cta-secundario);
  background-color: var(--clr-cta-secundario-bg);
  border-color: var(--clr-cta-secundario-border);
}

.btn--seleccionado {
  color: var(--clr-seleccionado);
  background-color: var(--clr-seleccionado-bg);
}

.grid-container {
  display: grid;
  gap: 1px;
  grid-template-columns: 25% auto;
  grid-template-areas:
    "nav nav"
    "aside main"
    "footer footer";
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--fs-body);
  background-color: #f9f9f9;
}

header {
  grid-area: nav;
}

aside {
  grid-area: aside;
  margin: 0 2rem;
  line-height: 1.5;
  background-color: white;
  padding: 1.875rem;
}

aside h1 {
  font-size: var(--fs-x-large);
  font-weight: bold;
}

aside h2 {
  text-transform: uppercase;
  font-size: var(--fs-x-small);
  font-weight: bold;
  margin-bottom: 0.625rem;
}

main {
  grid-area: main;
  margin: 0 4rem;
}

footer {
  grid-area: footer;
  font-size: var(--fs-x-small);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.perfil__foto {
  margin: 0 auto;
  border-radius: 50%;
  width: 6.875rem;
  aspect-ratio: 1;
}

.perfil__intro {
  text-align: center;
}

.perfil__intro a {
  display: block;
}

.perfil__stats li {
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0;
}

.perfil__stats li > :last-child {
  font-size: var(--fs-large);
}

.perfil__about {
  font-size: var(--fs-small);
}

.nav-primaria,
.nav-primaria__secciones,
.nav-primaria__login,
.nav-footer,
.nav-footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-primaria,
.nav-footer {
  flex-grow: 1;
  max-width: 95%;
  margin: 0.5rem auto;
  font-weight: bold;
}

.nav-primaria form {
  width: 30%;
}

.nav-primaria input {
  width: 100%;
}

.nav-primaria a,
.nav-primaria input {
  display: block;
  white-space: nowrap;
}

.nav-secundaria a {
  display: inline-block;
}

main ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.nav-footer a {
  display: block;
}
